/*
Instituto Politécnico Nacional
Centro de Investigación en Computación (CIC-IPN)
Laboratorio de Robótica y Mecatrónica
Todos los derechos reservados
*/
/* 
    Hoja de estilos para las pantallas de log in y error log-in
    Created on : 17 sep. 2020, 19:19:20
    Author     : Iliac Huerta Trujillo <ihuertat@ipn.mx>
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eeeeee;
}

.contenedorprincipal{
    margin: 1em;
    min-height: 35vh;
    padding: 1em;
} 

.navbar{
/*    background-color: white;*/
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 25em;
    padding: 18px 0;
    font-size: 12px;
}


/*-------BarraTitulo-----------------*/
.barraTitulo {
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 20%;
    padding-left: 10px;
    padding-right: 10px;
    /*Alineacion horizontal*/
    justify-content: center;
    /*background-color: white;*/
}

.titulocontainer {
    flex: 1 1 70%;
    justify-content: center;
    font-size: 18px;
    line-height: 26px;
    font-family: sans-serif;
    color: #0066ff;       
}

.titulocontainer>div {
    text-align: left;
}


/*--------------Footer------------*/
footer{
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    font-size: 10px;
    color: #e6e6e6;
    clear: both;
    margin-top: 80px;
}

.inferior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*Alineacion horizontal*/
    justify-content: center;
    /*Alineacion vertical*/
    align-items: flex-start;
}

.izquierda {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 10%;
    /*Alineacion horizontal*/
    justify-content: center;
}

.centrado {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 60%;
    padding: 0 30px;
    /*Alineacion horizontal*/
    justify-content: center;
}

.derecha {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 10%;
    flex-direction: column;
    /*Alineacion horizontal*/
    justify-content: center;
    /*Alineacion vertical*/
    align-items: center;
}


/*------LOGIN--------*/

.login{
    padding-top: 20px;
}

.is {
    /*font-weight: bold;*/
    color: #a8a9a9;
    font-size: 15px;
}

img.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f6f5f4;
}

.contenido,
.login,
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#formContent {
    display: block;
    padding: 30px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    /*width: 400px;*/
    max-width: 400px;
    /*min-width: 350px;*/
    text-align: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

input[type=text],
input[type=password] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px;
    /*box-sizing: border-box;*/
    width: 85%;
}

input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input:placeholder {
    color: #cccccc;
}

button[type=submit] {
    /*background-color: #56baed;*/
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #0066ff;
    font-size: 16px;
    cursor: pointer;
    width: 85%;
}

button[type=submit]:hover {
    background-color: #39ace7;
}



/* Change styles for span and cancel button on extra small screens */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/*------Animacion Fade-in login--------------- */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}