/*
Instituto Politécnico Nacional
Centro de Investigación en Computación (CIC-IPN)
Laboratorio de Robótica y Mecatrónica
Todos los derechos reservados
*/
/* 
    Hoja de estilos para las pantallas de log in y error log-in
    Created on : 17 sep. 2020, 19:19:20
    Author     : Iliac Huerta Trujillo <ihuertat@ipn.mx>
*/

/**{
    border: 1px solid #ccc;
}*/

*{
    margin: 0;
    padding: 0;
    /*border: 1px solid gray;*/
}

.mainCont{
    display: grid; 
    grid-gap: 20px;/*Espaciado*/
    height: 100%;
    width: 90%;
    /*max-width: 1000px;*/   
    margin: auto;/*Para centrarlo*/
    text-align: center;

    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: start start start;
    
    grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "footer footer footer";
}

.header{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    grid-area: header;
    /*display: block;*/ 
}
.barraTitulo{
    border: 3px solid #fff;
    display: flex; 
    grid-gap: 5px; 
    text-align: left;
    
    grid-template-columns: repeat(auto-fill, minmax(100px, start)); 
    
    width: 90%;      
    margin: auto;
    /*font-size: 50px;*/
    
}

.item{
    padding: 5px;   
    display: inline-block; /*Para que los elemenos abarquen todo el largo*/
    /*color: #fff;
    background: #2f89fc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);*/
}

.contenido{
    grid-area: contenido;
    display: block;
}

.footer{
    display: block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    grid-area: footer;
    /*position: absolute;
    bottom: 0;*/
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  /*width: 100%;
  min-height: 100%;
  padding: 30px;*/
}

#formContent {
  /*-webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;*/
  padding: 30px;
  border: 8px solid #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  position: relative;
  /*padding: 0px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);*/
  text-align: center;
}

input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  display: inline-block;
  
  margin: 5px;
  width: 85%;
  border: 2px solid #ccc;
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  
}

/*
input:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input:placeholder {
  color: #cccccc;
}*/


button {
  background-color: #56baed;
  width: 80%;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  
  /*-webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;*/
  
  
  border-radius: 5px;
  
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*
button[type=submit]:hover {
  background-color: #39ace7;
}

button[type=submit]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
*/

/*
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
*/

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}




input[type=text], input[type=password] {
  /*padding: 12px 20px;*/
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  width: 85%;
}


button[type=submit] {
  background-color: #0066ff;
  color: white;
  font-size: 13px;
  /*padding: 14px 20px;*/
  /*margin: 8px 0;*/
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 85%;
}

/*
form {
    border: 8px solid #f1f1f1;
    border-radius: 5px;
    padding: 20px;
}
*/
button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     /*width: 100%;*/
  }
}



.foot_ley{
   background-color: #333333;
   color: white;
   text-align: center;
   padding-top:5px;
   padding-bottom: 10px;
   line-height:15px;
   font-size:10px;
   color: #e6e6e6;
   clear:both;
}

.tituloNomLogin{
    /*background: #fff;*/
    font-size:22px;
    line-height: 26px;
    font-family: sans-serif;
    /*font-weight: bold;*/
    padding-left: 30px;
    padding-top: 26px;
    color: #0066ff  ;
}

.errorLogin{
    background: #ccc;
    font-size:15px;
    font-family: sans-serif;
    color: #f44336;
    text-align: center;
}

