/*
Instituto Politécnico Nacional
Centro de Investigación en Computación (CIC-IPN)
Laboratorio de Robótica y Mecatrónica
Todos los derechos reservados
*/
/* 
    Created on : 14 sep. 2020, 17:48:59
    Author     : Iliac Huerta Trujillo <ihuertat@ipn.mx>

 coloe verde CDMX #00b140

*/

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333333;
   color: white;
   text-align: center;
}

.foot_ley{
    padding-top:5px;
    line-height:15px;
    font-size:10px;
    color:#e6e6e6;
    clear:both;
}

.tituloNom {
    background: #fff;
    font-size:15px;
    font-family: sans-serif;
    color: #0066ff;
}

h1 {
  color:#0066ff;
  font-size: 2.25em;
  text-align: center;
}
h2 {
  font-size: 1em;
}
h3 {
  color:#243446;
}

 .vertical-container {
        margin: 0;
        min-height: 400px;
        background: #efefef;
        border-radius: 4px;
    }